<%= flash[:notice] %>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'public/items/sidebar', genres: @genres %>
    </div>
    <div class="col-lg-9">
      <div class="bgi" style="height:200px">
        <div class="  mx-auto pt-5" style="width:400px">
          <p class="top-content ml-3 py-3 pl-2">ようこそ　ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。</p>
        </div>
      </div>
      <div>
      <h3 class="ml-4">新着商品</h3>
       <%= render 'public/items/index', items: @items %>
        <div class="card-deck ml-4 mb-2" >
          <div class="text-right">
            <%= link_to "全ての商品を見る>", items_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


