<div class="card-deck ml-4 mb-2" >
  <% items.each do |item| %>
    <div class="text-card-container mt-2" style="width:200px">
      <div class="card content-card" style="height:180px">
        <div class="card-header p-0">
          <%= image_tag item.get_image, size: "165x100"%>
        </div>
        <div class="card-body pt-1 pl-2">
          <p class="card-title text-left mb-1" style="height:2rem"><b>
            <%= link_to(item_path(item.id), class:"text-dark", style:"font-size:14px") do %>
              <%= item.name %>
            <% end %></b></p>
          </p>
          <p class="card-text text-left mt-1">￥<%= item.non_tax_price %></p>
        </div>
      </div>
    </div>
   <% end %>
</div>