<table class="border mx-auto mt-3 w-75 text-center">
  <tr class="border-bottom">
    <th>ジャンル検索</th>
  </tr>
    <% genres.each do |genre| %>
    <tr class="mb-5">
      <td><% genre.name %></td>
    </tr>
    <% end %>
</table>