<div class="container">
  <div class="row">
  <!--サイドバー-->
    <div class="col-2">
      <%= render 'sidebar', genres: @genres %>
    </div>

   <!--ここからメイン-->
    <div class="col-9 ml-5">
    　<div class="p-0 d-flex">
       <h3 class="text-left m-0"><b>商品一覧</b></h3>
       <p class="mt-2">（全<%= @all_items.count %>件）</p>
      </div>
    <!--ここから一覧-->
    <div class="base-container mw-xl">
      <%= render 'public/items/index', items: @items %>
    </div>
    <div class="offset-4">
      <p><%= paginate @items %></p>
    </div>

    </div>
  </div>
</div>